.Edit_Delete_div
{
    background-color: white;
    height: 64px;
    width: 90px;
    border-radius: 8px;
    margin: 2px;
}

.edit_button{
    border: none;
    background: none;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    width: 76%;
    height: auto;
    object-fit: cover;
    margin-bottom: 6px;
    color: #717171;
    cursor: pointer;
}
.delete_button{
    border: none;
    background: none;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    width: 76%;
    height: auto;
    object-fit: cover;
    color: red;
    cursor: pointer;
} 