.nav{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.logo{
    height: 45px;
    margin-left: 50px;
}

.search{
    margin-left: 63rem;
    width: 14%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
}

.search-bar{
    border: none;
    padding: 10px;
}

.btn{
    background: #D33852;
    border: none;
    padding: 10px;
    margin-right: 70px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-around;
}
